In [1]:
import numpy as np
import pandas as pd

In [14]:
pd.DataFrame({"Building":["Biotech"]*50+["Olin"]*50, "Floor":np.arange(0,100), "Lab":np.arange(0,100), "Hood":np.arange(0,100), "TimeOpened":np.random.randint(0, 200, 100)})

   Building  Floor  Lab  Hood  TimeOpened
0   Biotech      0    0     0         150
1   Biotech      1    1     1          97
2   Biotech      2    2     2          60
3   Biotech      3    3     3          16
4   Biotech      4    4     4         159
..      ...    ...  ...   ...         ...
95     Olin     95   95    95          87
96     Olin     96   96    96          81
97     Olin     97   97    97          55
98     Olin     98   98    98         151
99     Olin     99   99    99         127

[100 rows x 5 columns]

In [10]:
["Biotech"]*10

['Biotech',
 'Biotech',
 'Biotech',
 'Biotech',
 'Biotech',
 'Biotech',
 'Biotech',
 'Biotech',
 'Biotech',
 'Biotech']